* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-bg-color: #040C13;
  --secondary-bg-color: #DCF6FF;
  --market-up-color: #00FF00;
  --market-down-color: #FF0000;
  --primary-font-color: #FFFFFF;
  --secondary-font-color: #000000;
  --primary-btn-color: #132455;
  --primary-font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Roboto', sans-serif;
}