* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #4141AA;
  --secondary-color: #42429A;
  --market-up-color: #00FF00;
  --market-down-color: #FF0000;
  --primary-font-color: #FFFFFF;
  --secondary-font-color: #000000;
  /* --primary-font-family: 
  --secondary-font-family: */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
