.portfolio-jumbo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5em;
  min-height: 50vh;
  padding: 1.5em;
}

.portfolio-signup-article {
  color: var(--secondary-font-color);
}

.portfolio-signup-article p {
  max-width: 500px;
  word-wrap: break-word;
}

.portfolio-signup-article h1 {
  font-size: 1.7rem;
  margin-bottom: 0.5em;
}
.portfolio-signup-article h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}
.portfolio-signup-links {
  margin-top: 1em;
}

.create-portfolio-btn {
  margin-top: 0.5em;
  width: 100%;
  height: 3em;
  font-size: 1.8em;
}

.portfolio-signup-links a {
  margin-left: 1em;
  color: inherit;
  text-decoration: none;
}

.portfolio-graph-article {
  display: flex;
  flex-direction: column;
  background-color: 0;
}

.portfolio-graph-article img {
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
  width: 100%;
  max-width: 280px;
  height: auto;
  margin-bottom: 1em;
}

.portfolio-dashboard{
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: 90%;
  height: 85vh;
  border-radius: 10px;
  color: white;
  background-color: #222;
  padding: 1em;
}

.portfolio-banner {
  width: 100%;
  height: 15vh;
  margin-bottom: 2em;
  background-color: #444;
  display: flex;
  justify-content: space-between;
}

.portfolio-banner-left{
  display: flex;
}

.portfolio-banner-left div{
  margin: 1em;
}

.portfolio-banner-left div p{
  color: var(--market-up-color);
  text-align: right;
}

.portfolio-banner-right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.portfolio-banner-right button{
  height: 50%;
  width: 15vw;
  border-radius: 15px;
}

.portfolio-info-container{
  display: flex;
  flex: 1;
}

.portfolio-graph{
  flex: 1;
  margin-right: 2em;
  background-color: #444;
}

.portfolio-coin-data{
  flex: 1;
  background-color: #444;
}

@media screen and (max-width: 600px) {
  .portfolio-info-container{
    flex-direction: column;
  }

  .portfolio-graph{
    margin-right: 0;
    margin-bottom: 1em;
  }
}