.hero-header {
  height: 90vh;
}

.hero-header-grid {
  height: 100%;
  background: no-repeat fixed;
  background-image: url("../../images/moonshot-background.jpeg");
  background-size: cover;
  background-color: #717e7e;
  background-blend-mode: multiply;
}

.hero-header-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}

.hero-header h1 {
  color: white;
  font-size: 120px;
  font-family: var(--primary-font-family);
}

.hero-header h3 {
  color: white;
}

.about {
  background-color: var(--primary-bg-color);
}

.about-card {
  margin: 1em 1em;
}

.about-card-icon {
  color: white;
  margin-bottom: 2%;
}

.card-content {
  background-color: var(--primary-bg-color);
}

.card-content h2 {
  color: white;
  font-size: 25px;
  font-family: var(--primary-font-family);
}

.card-content p {
  color: white;
}
.about-light {
  background-color: var(--secondary-bg-color);
}
.about-light h2,
.about-light p,
.about-light .about-card-icon {
  color: var(--secondary-font-color);
}

.card-container {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .hero-header h1 {
    font-size: 3.5em;
  }

  .hero-header h3 {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 600px) {
  .hero-header h1 {
    font-size: 4.5em;
  }

  .hero-header h3 {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 768px) {
  .hero-header h1 {
    font-size: 5.5em;
  }

  .hero-header h3 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 992px) {
  .hero-header h1 {
    font-size: 6.8em;
  }

  .hero-header h3 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-header h1 {
    font-size: 7.5em;
  }
}
